@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: Inter;
}

body {
   /* background-color: rgba(100, 100, 250, 0.5); */
   background-color: rgba(0, 0, 0, 0.6);
   background-blend-mode: multiply;
   font-size: 18px;
   font-family: 'Montserrat';
   color: #fff;
   background-image: url('./img/bg2.webp');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

section {
   min-height: 100vh;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 100px 0;
}

.container {
   padding: 30px;
   border-radius: 24px;
   box-shadow: 0px 0px 20px #00000011;
   width: 90%;
   max-width: 400px;
   background-color: transparent;
   border: 2px solid rgb(0, 187, 255);
   backdrop-filter: blur(15px);
   box-shadow: 0px 0px 25px rgb(0, 179, 255), 0px 0px 10px rgb(0, 179, 255);
   animation: animateBg 2s linear;
}

@keyframes animateBg {
   0% {
      opacity: 0;
      transform: translateY(-100%);
   }

   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

form {
   width: 100%;
   font-size: 18px;
}

.result {
   background-color: rgb(220, 233, 243);
   position: relative;
   margin-bottom: 30px;
   border-radius: 8px;
   overflow: hidden;
}

.result #result {
   width: 85%;
   height: 100%;
   outline: none;
   border: none;
   font-size: 18px;
   padding: 10px;
}

.result .clipboard {
   width: 15%;
   height: 100%;
   position: absolute;
   right: 0;
   top: 50%;
   transform: translateY(-50%);
   font-size: 25px;
   cursor: pointer;
   background-color: #007aff;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: opacity 0.2s ease-in-out;
}

.clipboard:hover {
   opacity: 0.8;
}

.field input[type='number'] {
   width: 50px;
   height: 40px;
   outline: none;
   border: none;
   padding: 10px;
   padding-right: 0px;
   font-size: 18px;
   background-color: #fff;
   border-radius: 8px;
}

.field {
   height: 40px;
   margin-top: 5px;
   border-radius: 4px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   align-items: center;
   padding-right: 10px;
   transition: 0.3s ease background-color;
}

.field:first-of-type {
   padding-right: 0;
}

.field:not(:first-of-type):hover {
   background-color: rgb(13, 30, 42, 0.5);
}

.field label {
   width: 100%;
   padding: 10px;
   cursor: pointer;
}

.field input {
   cursor: pointer;
}

button[type='submit'] {
   display: inline-block;
   width: 100%;
   border: none;
   outline: none;
   background-color: rgb(13, 30, 42, 0.5);
   color: #fff;
   font-size: 20px;
   cursor: pointer;
   margin-top: 30px;
   border-radius: 8px;
   padding: 13px 10px;
}

button:hover {
   box-shadow: 0 0 5px rgb(0, 187, 255), 0 0 10px rgb(0, 187, 255), 0 0 15px rgb(0, 187, 255);
}

@media only screen and (max-width: 678px) {
   .field {
      font-size: 16px;
   }
}


@keyframes neon {
   0% {
      /* text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00; */
      text-shadow: 0 0 10px rgb(0, 187, 255), 0 0 20px rgb(0, 187, 255), 0 0 30px rgb(0, 187, 255);
   }

   50% {
      text-shadow: 0 0 5px rgb(0, 187, 255), 0 0 10px rgb(0, 187, 255), 0 0 15px rgb(0, 187, 255);
   }

   100% {
      text-shadow: 0 0 10px rgb(0, 187, 255), 0 0 20px rgb(0, 187, 255), 0 0 30px rgb(0, 187, 255);
   }
}

.preloader span {
   animation: neon 1.5s infinite alternate;
}

.hvr-shutter-in-vertical {
   display: inline-block;
   vertical-align: middle;
   -webkit-transform: perspective(1px) translateZ(0);
   transform: perspective(1px) translateZ(0);
   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
   position: relative;
   background: #2098D1;
   -webkit-transition-property: color;
   transition-property: color;
   -webkit-transition-duration: 0.3s;
   transition-duration: 0.3s;
}

.hvr-shutter-in-vertical:before {
   content: "";
   position: absolute;
   z-index: -1;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: #007aff;
   -webkit-transform: scaleY(1);
   transform: scaleY(1);
   -webkit-transform-origin: 50%;
   transform-origin: 50%;
   -webkit-transition-property: transform;
   transition-property: transform;
   -webkit-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -webkit-transition-timing-function: ease-out;
   transition-timing-function: ease-out;
   border-radius: 8px;
}

.hvr-shutter-in-vertical:hover,
.hvr-shutter-in-vertical:focus,
.hvr-shutter-in-vertical:active {
   color: rgb(255, 255, 255);
}

.hvr-shutter-in-vertical:hover:before,
.hvr-shutter-in-vertical:focus:before,
.hvr-shutter-in-vertical:active:before {
   -webkit-transform: scaleY(0);
   transform: scaleY(0);
}



input[type=range] {
   -webkit-appearance: none;
   width: 200px;
   height: 10px;
   border-radius: 5px;
   background-color: #fff;
   outline: none;
}

input[type=range]::-webkit-slider-thumb {
   -webkit-appearance: none;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background-color: #007aff;
   cursor: pointer;
}

select {
   border: none;
   outline: none;
   background-color: rgba(13, 30, 42, 0.5);
   color: #fff;
   padding: 10px 12px;
   border-radius: 8px;
   cursor: pointer;
   transition: opacity, box-shadow 0.3s ease-in-out;
}

select:hover {
   opacity: 0.8;
   box-shadow: 0 0 5px rgb(0, 187, 255), 0 0 10px rgb(0, 187, 255), 0 0 15px rgb(0, 187, 255);
}

select option {
   background-color: #222;
}

.neon {
   color: #fff;
   text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #0ff,
      0 0 80px #0ff,
      0 0 90px #0ff,
      0 0 100px #0ff,
      0 0 150px #0ff;
}

.field {
   display: flex;
   align-items: center;
}

.field input[type=range] {
   margin-right: 20px;
   margin-left: 20px;
}



@keyframes colorChange {
   0% {
      color: #00ff08;
   }

   25% {
      color: #ff0d00;
   }

   50% {
      color: #FFDC00;
   }

   75% {
      color: #0088ff;
   }

   100% {
      color: #00ff08;
   }
}

.clipboard.color-change {
   animation: colorChange 2s linear;
}

input[type='checkbox'] {
   transform: scale(1.5);
}